.clear-cache-button {
  position: relative;
  float: right;
  top: 5px;
  z-index: 2;
}
.set-domain-button {
  position: relative;
  float: right;
  top: 5px;
  z-index: 2;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}