.menu-bar {
  order: 1;
  border-style:solid;
  border-color:gray;
  background-color:black;
}

.menu-title {
  display:inline-block;
  font-family:sans-serif;
  font-size:40px;
  line-height:150%;
  color:white;
}
.menu-appicon {
  display:inline-block;
  float:left;
  padding:5px;
}
.menu-image {
  display:inline-block;
  float:right;
  width:auto;
  padding:5px;
  margin:5px;
}
.eye-all-button {
  display: inline-block;
  float:right;
  height: 50px;
  padding:5px;
  margin:5px;
  width: 50px;
  background-size: 47px 47px;
  background-color: black;
  background-image: url('../../../dist/eye_all_rocks.png');
}
.eye-unpicked-button {
  display: inline-block;
  float:right;
  height: 50px;
  padding:5px;
  margin:5px;
  width: 50px;
  background-size: 47px 47px;
  background-color: black;
  background-image: url('../../../dist/eye_unpicked.png');
}
.add-button {
  display: inline-block;
  float:right;
  height: 50px;
  padding:5px;
  margin:5px;
  width: 50px;
  background-size: 47px 47px;
  background-color: black;
  background-image: url('../../../dist/add_button.png');
}
.clear-cache-button {
  cursor: pointer;
  background-color: lightgrey;
  border: 1px solid #000;
}
.change-domain-button {
  cursor: pointer;
  background-color: lightgrey;
  border: 1px solid #000;
}