.menu-bar {
  order: 1;
  border-style:solid;
  border-color:gray;
  background-color:black;
}
/*
.menu-button {
  display:inline-block;
  float:right;
  width:auto;
  padding:8px;
  border-style: solid;
  border-radius: 10px;
  border-color: brown;
  background-color: white;
  font-weight: bold;
  font-size:14px;
}
*/
.menu-title {
  display:inline-block;
  font-family:sans-serif;
  font-size:40px;
  line-height:150%;
  color:white;
}
.menu-appicon {
  display:inline-block;
  float:left;
  padding:5px;
}
.menu-image {
  display:inline-block;
  float:right;
  width:auto;
  padding:5px;
  margin:5px;
}